<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css">
<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>

<form id="add-exercise-form">
  <label for="exerciseName">Exercise Name:</label>
  <select id="exerciseName" name="exerciseName" class="choices-select">
    {{#each allExercizes}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <div class="form-group">
  <label for="sets">Sets:</label>
  <input type="number" id="sets" name="sets" required>
  <small id="setsError" class="error-message mute-text"></small>
  </div>

  <div class="form-group">
  <label for="reps">Reps per Set:</label>
  <input type="number" id="reps" name="reps" required>
  <small id="repsError" class="error-message mute-text"></small>
  </div>

  <div class="form-group">
  <label for="weight">Weight per Set:</label>
  <input type="number" id="weight" name="weight" required>
  <small id="weightError" class="error-message mute-text"></small>
  
  <div class="weight-units">
  <label for="weightUnitLbs">LB</label>
  <input type="radio" id="weightUnitLbs" name="weightUnit" value="LB" checked>

  <label for="weightUnitKg">KG</label>
  <input type="radio" id="weightUnitKg" name="weightUnit" value="KG">
  </div>
  </div>
  <button type="button" class="btn btn-secondary" id="addExercise">Add Exercise</button>
</form>

<form id="workout-form" action="{{formAction}}" method="post">
  <label for="workoutName">Workout Name:</label>
  <input type="text" id="workoutName" name="workoutName" required>

  <input type="hidden" id="exercises" name="exercises">
  <!--Ask user if they want to save as template-->
  {{#if isWorkoutTemplatesPage}}
  <input type="hidden" id="save-as-template" name="saveAsTemplate" class="template-checkbox" checked>
  {{else}}
  <label for="save-as-template" class="template-label">Save as template:</label>
  <input type="checkbox" id="save-as-template" name="saveAsTemplate" class="template-checkbox" checked>
  {{/if}}
  <button type="submit" class="btn btn-primary">Save Workout</button>
</form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const elements = document.querySelectorAll('.choices-select');
    elements.forEach(element => {
      const choices = new Choices(element);
    });
  });
</script>