<div class="card mx-auto mb-5 mt-4" style="width: 28rem;">
  <div class="card-header">
<h1>Completed Workouts</h1>
<h4>Past Workout History: (MAX 10)</h4>
</div>
    
{{#if customWorkouts.length}}
  <ul class="list-group list-group-flush">
    {{#each customWorkouts}}
      <li class="list-group-item">
        <h5 class = "list-group-item-heading">{{this.workoutName}}</h5>
        Completed on: {{this.completedDate}}
        <br>
        <a href="/workout/{{this.workoutId}}">View Workout</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No completed workouts yet.</p>
{{/if}}   
</div>
<div class="text-center">
    <a href="/" class="btn btn-dark">Return Home</a>
</div>