<div class="create-workout-header">
<h1>Create Workout</h1>
</div>
<div class="workouts-container mt-4">
<style>
.template-checkbox,
.template-label {
  display: none;
}
</style>

<div class="workout-form left">
  <p class="bold-font">Find Exercises:</p>
{{> workoutForm formAction="/create_workout" isWorkoutTemplatesPage=isWorkoutTemplatesPage}}
</div>

<!-- Display the current workout -->
<div class="current-workout right">
<p class="bold-font">Current Workout:</p>
{{#if message}}
 <div class="alert alert-success">
  {{message}}
 </div>
{{/if}}

<div class="alert alert-info" role="alert" id="alertInfo">
  Use the search form to find and add exercises to your workout.
</div>
<ul id="currentWorkout"></ul>
</div>


<script src="/js/workout_handler.js"></script>
</div>