<h1>Create Workout</h1>
{{> workoutForm formAction="/create_workout"}}

{{#if message}}
 <div class="alert alert-success">
  {{message}}
 </div>
{{/if}}

<!-- Display the current workout -->
<h2>Current Workout:</h2>
<ul id="currentWorkout"></ul>

<script src="/js/workout_handler.js"></script>