<div class="container mt-5">
<div class="alert text-center alert-danger mx-auto" role="alert" style="width: 18rem;">
  <h4 class="alert-heading">Error!</h4>
  <h5>An error occurred</h5>
  <p>{{error}}</p>
  <hr>
  <a href="/" class="btn btn-dark btn-sm">Return Home</a>
</div>
</div>