<div class="container mt-5">
<div class="alert text-center alert-success mx-auto" role="alert" style="width: 18rem;">
<h4 class="alert-headng">Workout Saved Successfully!</h4>
<p>Your workout has been saved. Great job!</p>
<hr>
<a href="/" class="btn btn-dark btn-sm">Return Home</a>
</div>
</div>