<main>
    <section id="hero" class="text-center py-5">
        <h1>Welcome to FitByte!</h1>
        <p>Your Personal Exercise Tracker</p>
    </section>
    <section id="features" class="py-5">
        <h2 class="text-center">Features</h2>
        <h3 class="mt-4">CORE FEATURES</h3>
        <ul>
            <li>Application has a list of default exercises, with the photos included.</li>
            <li>Users have the ability to custom create workouts for an individual day, and then update the workout as they are completed (i.e. enter the sets and reps done for each exercise)</li>
            <li>Users can also create workout templates, which they should be able to re-use and apply to multiple days</li>
            <li>Default exercises can be filtered by muscle group, category, etc.</li>
            <li>User profiles, and a user profile page where users can view their workout history and track their progress</li>
        </ul>
    </section>
    <section id="about" class="py-5">
        <h2 class="text-center">About FitByte</h2>
        <p>
            This website was created as a final project
            for Stevens Institute of Technology class CS 546
            Web Programming. Fall 2023
        </p>
        <p>
            To use FitByte, register an account, log in, and start a workout.
            You can also look at the exersizes and start an empty workout (manually add each exersize)
            or repeat a workout from the workout templates.
        </p>
        <p>
            The initial list of exersize data was obtained from
            <a href="https://github.com/wrkout/exercises.json" target="_blank">https://github.com/wrkout/exercises.json</a>
        </p>
    </section>
</main>