<main>
    <section id="hero" class="text-center py-5">
        <h1>Welcome to FitByte!</h1>
        <p>Your Personal Exercise Tracker</p>
    </section>
    <section id="features" class="py-5">
        <h2 class="text-center">Features</h2>
        <h3 class="mt-4">CORE FEATURES</h3>
        <ul>
            <li>Application has a list of default exercises, with the photos included. - DONE</li>
            <li>Users have the ability to custom create workouts for an individual day, and then update the workout as they are completed (i.e. enter the sets and reps done for each exercise) - IN PROGRESS</li>
            <li>Users can also create workout templates, which they should be able to re-use and apply to multiple days - DONE </li>
            <li>Default exercises can be filtered by muscle group, category, etc. - DONE</li>
            <li>User profiles, and a user profile page where users can view their workout history and track their progress - IN PROGRESS</li>
        </ul>
        <h3 class="mt-4">EXTRA FEATURES</h3>
        <ul>
            <li>Workout programs - a collection of workout templates applied to specific days over the course of multiple weeks. users should be able to either create workout programs, or use workout programs created by other users - NOT STARTED</li>
            <li>Expand on the tracking  (from point 5) to also include graphs (line or bar charts) for tracking progress - NOT STARTED</li>
            <li>Implement a calories burned calculator - NOT STARTED</li>
        </ul>
    </section>
    <section id="about" class="py-5">
        <h2 class="text-center">About FitByte</h2>
        <p>
            This website was created as a final project
            for Stevens Institute of Technology class CS 546
            Web Programming. Fall 2023
        </p>
        <p>
            The initial list of exersize data was obtained from
            <a href="https://github.com/wrkout/exercises.json" target="_blank">https://github.com/wrkout/exercises.json</a>
        </p>
    </section>
</main>