{{!--

login form handlebar template

--}}
<div class="login-container col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 mx-auto">
<head>
 <title>Login</title>
</head>

    {{#if user}}
    <h1>User already logged in</h1>
    <a href="/logout" class="btn btn-primary">Home</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
    {{else}}
    
 <h1>Login</h1>
 
 <form id="login-form" class="login-form mx-auto" method="post">
  <div class="form-group row py-3">
    <label for="emailAddressInput" class="col-sm-12 col-md-2 col-form-label">Email</label>
    <div class="col-sm-12 col-md-10">
      <input type="email" class="form-control" id="emailAddressInput" name="emailAddressInput" placeholder="Email">
    </div>
    <small id="emailAddressError" class="error-message mute-text"></small>
  </div>
  <div class="form-group row pb-3">
    <label for="passwordInput" class="col-sm-12 col-md-2 col-form-label">Password</label>
    <div class="col-sm-12 col-md-10">
      <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Password">
    </div>
    <small id="passwordError" class="error-message mute-text"></small>
  </div>

   {{#if error}}
    <small class="error-message mute-text">{{error}}</small>
    {{/if}}
    
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  </form>
  
<div class="text-center">
 <p><a href="/register">Click here to register!</a></p>
 </div>
 
 {{/if}}


</div>

