{{!--

registration handelbars

--}}
<h1>Register</h1>
{{#if error}}
  <div style="color: red;">{{error}}</div>
{{/if}}
<form id="registration-form" class="registration-form" method="post">
    <div class="form-group">
    <label for="firstNameInput">First Name</label>
    <input type="text" id="firstNameInput" name="firstNameInput">
    <div id="firstNameError" class="error-message"></div>
    </div>
        <div class="form-group">
    <label for="lastNameInput">Last Name</label>
    <input type="text" id="lastNameInput" name="lastNameInput">
    <div id="lastNameError" class="error-message"></div>
</div>
    <div class="form-group">
    <label for="emailAddressInput">Email Address</label>
    <input type="email" id="emailAddressInput" name="emailAddressInput">
    <div id="emailAddressError" class="error-message"></div>
</div>    <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" id="passwordInput" name="passwordInput">
    <div id="passwordError" class="error-message"></div>
</div>    <div class="form-group">
    <label for="confirmPasswordInput">Confirm Password</label>
    <input type="password" id="confirmPasswordInput" name="confirmPasswordInput">
    <div id="confirmPasswordError" class="error-message"></div>
    </div>
    <div class="form-group">
    <label for="dobInput">Date of Birth</label>
    <input type="text" id="dobInput" name="dobInput">
    <div id="dobError" class="error-message"></div>
    </div>
    <div class="form-group">
    <label for="ageInput">Age</label>
    <input type="text" id="ageInput" name="ageInput" readonly>
    <div id="ageError" class="error-message"></div>
    </div>

    
    <label for="genderInput">Gender</label>
    <select id="genderInput" name="genderInput">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    <div id="genderError" class="error-message"></div>
    

    <input type="submit" value="Register" class="btn btn-primary">
</form>

<p><a href="/login">Already have an account? Click here to log-in</a></p>