<h1>Workout</h1>

{{> workoutForm formAction="/finish_workout"}}

<!-- Display the current workout -->
<h2>Current Workout:</h2>
<ul id="currentWorkout"></ul>


<script src="/js/workout_handler.js"></script>