body {
    background-color: LightYellow;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: blue;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}
ol {
    background-color: PaleGoldenRod;
    padding: 10px;
    border-radius: 10px;
}
form {
    background-color: rgb(176, 238, 231);
    padding: 2px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a:visited {
    color: purple;
    text-decoration: none;
}

ol {
    background-color: PaleGoldenRod;
    padding: 10px;
    border-radius: 10px;
}

ol li {
    margin: 10px 0;
}