
form {
    background-color: rgb(176, 238, 231);
    padding: 15px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ol {
    background-color: PaleGoldenRod;
    padding: 10px;
    border-radius: 10px;
}

ol li {
    margin: 10px 0;
}
body {
    padding-bottom: 50px; /* Adjust this value based on the height of footer */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-nav {
    margin-left: auto
}

.nav-item {
    margin-right: 10px;
    font-size: 12px;

}

.navbar-brand {
    padding-left: 20px;
}

.workout-container {
    flex-direction: column;
}

.remove-exercise-button {
    margin-left: auto;
}

.set-container {
    flex-direction: row;
    align-items: center;
}

.set-number-label {
    font-weight: bold;
    margin-right: auto;
}

.reps-input,
.weight-input {
    width: 20%;
}

.remove-set-button {
    margin-left: 10px;
}

.add-set-button {
    align-self: center;

}.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
 }

 .small-font {
    font-size: 10px;
 }

 .bold-font {
    font-weight: bold;
 }

 .exercise-container {
    width: 60%;
    margin: 0 auto;
 }

 .exercises .column {
    float: left;
    width: 50%;
    padding: 5px;
 }

 .exercises .row::after {
    content: "";
    clear: both;
    display: table;
 }


.exercise-list .column {
    float: left;
}

.exercise-list .left {
    width: 40%;
    overflow-wrap: break-word;
}

.exercise-list .right {
    width: 60%;
}

.exercise-list .row:after{
    content: "";
    display: table;
    clear: both;
}

.exercise-list .label {
    color: gray;
    font-size: 14px;
}

.exercise-list .desc {
    font-weight: bold;
}

.exercises h1,
.login-container h1 {
    text-align: center;
}

.container .card.my-3{
    background-color: rgb(176, 238, 231);
}

.workouts-container {
    display: flex;
    width: 70%;
    margin: auto;
}

.workout-form.left {
    flex: 0 0 20%;
}

.current-workout.right .card {
    flex: 1;
    width: 100%;
}

.create-workout-header,
.empty-workout-header,
.create-exercise-header {
    text-align: center;
    padding-top: 15px;
  }

@media screen and (max-width: 500px) {
    .exercises .column {
      width: 100%;
    }
    .exercise-list .column {
        width: 100%;
      }
    }
 
@media screen and (max-width: 900px) {      
    .workouts-container {
        flex-direction: column;
        width: 100;
    }

    .workout-form.left {
        flex: 1;
    }

    .workout-form.right .card {
        flex: 1;
        width: 100%
    }
  }


